
body{
  background-color: white;
}
html{
scroll-behavior: smooth;}

.navbar {
	
	margin-right:-0.5%;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    color: black;
    box-sizing: border-box;
    z-index: 10;
height:12%;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
margin-top:13%;
    height: 100px;
	transition: transform 0.5s; 
}
.navbar .logo img:hover {
    transform: scale(1.5); /* Grossissement au survol */
}
.navbar .menu-icon {
	margin-right: 100%;
    font-size: 75px;
    cursor: pointer;
transition: transform 0.5s; 
}
.navbar .menu-icon:hover {
    transform: scale(1.5); /* Grossissement au survol */
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Défaut: transparent */
    z-index: 10;
    transition: background-color 0.5s; /* Transition progressive */
}

.sidebar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; /* Container transparent */
    padding: 20px;
    z-index: 12; /* Assure que la barre latérale est au-dessus de l'overlay */
}

.sidebar .nav-links {
z-index: 12;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.sidebar .nav-links li a {
    display: block;
    color: white;
    padding: 10px 0;
    text-decoration: none;
	text-align: center;
    transition: transform 0.3s; /* Ajout de la transition */
font-size: 200%;
}
.sidebar .nav-links li a:hover {
    transform: scale(1.5); /* Grossissement au survol */
}
.close-icon {
    position: absolute;
    top: 0; /* Centrer verticalement */
    right: 42%;
    transform: translateY(-50%); /* Centrer verticalement */
    font-size: 200%;
    cursor: pointer;
    color: white; /* Couleur blanche pour la croix */
    transition: transform 0.3s; /* Ajout de la transition */
}
@media screen and (max-width: 4000px) {
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    box-sizing: border-box;
    z-index: 10;
height:12%;
}
@media screen and (max-width: 1000px) {
.navbar {
	margin-left:-8px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    box-sizing: border-box;
    z-index: 10;
height:12%;
}
.navbar .menu-icon {
	margin-right: 100%;
    font-size: 65px;
    cursor: pointer;
transition: transform 0.5s; 
}
}

/* CACA*/
.main{
  width: 100%;
  height: 80vh;
  aspect-ratio:16/9;
  padding-bottom: 30px;
}

.main-background{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height :100%;
  object-fit: cover;
  z-index: -3;
}

.main-text{
  position: fixed;
  top:50%;
  left:50%;
  width: 100%;
  transform:translate(-50%,-50%);
  text-align:center;
  z-index: -2;
}

h1{
  color: white;
  font-family: "helvetica";
  font-size: 5rem;
  font-weight: 400;
}

.main-text p{
  color: white;
  font-size:2rem;
  font-weight:200;
}
/*CACA*/

.box {
    position: absolute;
    top: 85%; /* Réduire la distance depuis le haut */
    left: 50%;
    transform: translate(-50%, -50%);
/* Ajuster la hauteur de la boîte */
    cursor: pointer; /* Ajouter un curseur pointer pour indiquer que la boîte est cliquable */
    z-index: 9; /* Assurez-vous que la boîte est au-dessus des autres éléments */
}

.box span {
    display: block;
    width: 50px; /* Ajustez la largeur pour rendre les flèches plus grandes */
    height: 50px; /* Correction de la propriété height */
    border-bottom: 1px solid #fff; /* Augmentez l'épaisseur de la bordure */
    border-right: 1px solid #fff; /* Augmentez l'épaisseur de la bordure */
    transform: rotate(45deg);
    margin: -20px; /* Ajustez la marge pour centrer les flèches correctement */
    animation: animate 3s infinite;
}

.box span:nth-child(1) {
    animation-delay: 1.2s; /* Ajouter un retard à la première flèche */
}

.box span:nth-child(2) {
    animation-delay: 0.6s; /* Ajouter un retard plus long à la deuxième flèche */
}

.box span:nth-child(3) {
    animation-delay: 0.2s; /* Ajouter un retard le plus long à la troisième flèche */
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(20px, 20px);
    }    
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
@media screen and (max-width: 600px) {
.box span {
    display: block;
    width: 40px; /* Ajustez la largeur pour rendre les flèches plus grandes */
    height: 40px; /* Correction de la propriété height */
    border-bottom: 1px solid #fff; /* Augmentez l'épaisseur de la bordure */
    border-right: 1px solid #fff; /* Augmentez l'épaisseur de la bordure */
    transform: rotate(45deg);
    margin: -10px; /* Ajustez la marge pour centrer les flèches correctement */
    animation: animate 3s infinite;
}
}
/*CACA*/
/* Ajout de media queries pour rendre le site responsive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .main-text p {
    font-size: 1.5rem;
  }
}
.section{

  z-index:3;
  padding:150px 0;
margin-top:10%;
}

.boxed{
  max-width:1280px;
  margin-inline:auto;
}

.page1{
  color: black;
  font-family: Helvetica;
  font-size: 25px;
  z-index: 3;
}

.w40{
  text-align: center;
  width: 40%;
  padding: 30px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#w20 {
  margin-left: 20%;
  color: #545454;
  margin-top:-1%;
  width: 30%;
  font-size: 15px; /* Taille de police réduite */
  font-weight: 300; /* Correction de la valeur de font-weight */
  line-height: 1.7; /* Espacement entre chaque ligne */
  left: 50%;
}

#w20 p {
  margin-bottom: 5%; /* Espacement entre les paragraphes */
}
#presentation{
margin-top: 24%;
padding-bottom: 10%;
  font-size: 3rem; 
transition: transform 0.5s;
}
#presentation:hover {
  transform:  scale(1.2); /* Grossissement au survol */
}

/* Ajout de media queries pour rendre le site responsive */
@media screen and (max-width: 1000px) {
  .w40, #w20 {
    width: 80%;
    margin-left: 50px;
	margin-top: 50px;
 text-align: center;
	
  }

  .page1 {
    font-size: 20px;
  }

  #presentation {
	margin-left:-25%;
	margin-bottom:100px;
	margin-top:100px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  #presentation {
	margin-left:-25%;
	margin-bottom:130px;
	margin-top:220px;
    font-size: 2rem;
  }

}
@media screen and (max-width: 1200px) {
  #presentation {
	margin-left:-25%;
	margin-bottom:180px;
	margin-top:240px;
    font-size: 2rem;
  }

}

@media screen and (max-width: 1100px) {
  #presentation {
	margin-left:-25%;
	margin-bottom:350px;
	margin-top:420px;
    font-size: 2rem;
  }
@media screen and (max-width: 1000px) {
  #presentation {
	margin-left:-25%;
	margin-bottom:350px;
	margin-top:310px;
    font-size: 2rem;
  }

}
@media screen and (max-width: 600px) {
  #presentation {
    color: black;
	margin-left:-25%;
	margin-bottom:350px;
	margin-top:310px;
    font-size: 2rem;
  }

}
}
@media screen and (max-width: 600px) {
  .w40, #w20 {
    width: 80%;
    margin-left: 50px;
	margin-top:100px;
 text-align: center;
	
  }

  .page1 {
    font-size: 20px;
  }

  #presentation {
	margin-left:-25%;
	margin-top:50px;
	margin-bottom:100px;
    font-size: 2rem;
  }
}

#competences{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; 
  padding-bottom: 20%;
  z-index: 1;
transition: transform 0.5s;
}
#competences:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Grossissement au survol */
}
#clique{
 color: #545454;
font-size: 0.8rem;
text-align: center;
}
/*CACA*/
#formation{
position: absolute;
  margin-top:-5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; 
  padding-bottom: 10%;
  z-index: 1;
transition: transform 0.5s; 

}
#formation:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Grossissement au survol */
}
#Exp{
position: absolute;
  margin-top:-5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; 
  padding-bottom: 10%;
  z-index: 1;
transition: transform 0.5s; 

}
#Exp:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Grossissement au survol */
}
@media screen and (max-width: 1300px) {
  /* Ajustement du padding-bottom de Formation */
  #Exp {
    padding-bottom: 300px; 
font-size: 2rem;/* Augmentez cette valeur selon vos besoins */
  }
}
* {
  box-sizing: border-box;
}

/* Set a background color */


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #343333;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #343333;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #343333;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #343333;
  border-width: 10px 10px 10px 0;
  border-color: transparent #343333 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  font-size:1rem;
  padding: 20px 30px;
  background-color: #343333;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #343333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #343333 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
@media screen and (max-width: 600px) {
  /* Ajustement du padding-bottom de Formation */
  #formation {
font-size: 2rem;/* Augmentez cette valeur selon vos besoins */
  }
}
@media screen and (max-width: 1300px) {
  /* Ajustement du padding-bottom de Formation */
  #formation {
font-size: 2rem;/* Augmentez cette valeur selon vos besoins */
  }
.content {
  font-size:0.8rem;
  padding: 20px 30px;
  background-color: #343333;
  position: relative;
  border-radius: 6px;
}
}
#con2{padding-bottom:5%;}
/*CACA*/
/* Ajout de media queries pour rendre le site responsive */
@media screen and (max-width: 600px) {
  #competences {
    font-size: 2rem;
    padding-bottom: 30%;
  }
}

/* C'est pour placer le titre de la section .*/
#realisations{
padding-top:30%;
position: absolute;
  left: 50%;

  transform: translate(-50%, -50%);
font-size: 3rem; 
padding-bottom: 20%;
z-index:1;
transition: transform 0.5s;
}
#realisations:hover {
  transform:  translate(-50%, -50%) scale(1.2); /* Grossissement au survol */
}
@media screen and (max-width: 600px) {
  #realisations {
    font-size: 2rem;
    padding-bottom: 30%;
  }
}

#deco{
  position:absolute;
  flex: 1; 
  width: 20%; 
  top:153%;
height: 65%;
  right: 20%;
  transform: translateY(-40%);
}

/* Ajout de media queries pour rendre la vidéo responsive */
@media screen and (max-width: 1000px) {
  #deco {
    display: none;
    right: 0;
  }
}

/* C'est pour mettre une vidéo sur le coté de manière esthétique .*/

.overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.overlay-content2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
}

/*POOP APPAPAPAZORAORKEALDALDAKEFJA */
/* CSS pour le contenu des compétences dans le modal */
#competences-container {
  text-align: center; /* Pour centrer le contenu */
}

#competence-title {
  font-size: 2rem; /* Taille de police 2rem */
  margin-bottom: 20px; /* Espacement sous le titre */
}

#competence-description {
  font-size: 1.5rem; /* Taille de police pour la description */
  line-height: 2rem; /* Espacement entre les lignes */
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.video-wrapper {
  z-index: 2;
  position: relative; 
  width: 23%; 
  padding: 20px;
  height: 300px; 
  overflow: hidden;
}
/* Effet de survol sur les éléments .video-wrapper */
.video-wrapper:hover {
  transform: scale(1.1); /* Agrandissement au survol */
  transition: transform 0.5s ease; /* Animation fluide */
}

/* Style pour le titre des vidéos au survol */
.video-wrapper:hover .video-title {
  display: block; /* Affichage du titre au survol */
}

.video {
  width: auto;
  height: 100%; 
}

.video-title {
  font-size: 24px; 
  text-align: center;
  margin-top: 10px;
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
.video-title {
  font-size: 1.2rem;

  text-align: center;
  margin-top: 10px;
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}}
@media (max-width: 750px) {
.video-title {
  font-size: 0.8rem;

  text-align: center;
  margin-top: 10px;
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}}
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column; /* Stack videos vertically */
    align-items: center; /* Center items horizontally */
	margin-left: 3%;
	margin-right: 3%;
  }

  .video-wrapper {
    width: 100%; /* Occupy full width */
    margin-bottom: 20px; /* Add some space between videos */
    padding: 0; /* Remove padding to ensure full width */
  }
.video-title {
  font-size: 2.5rem;

}}
}
.modal-container {
  display: none; /* Par défaut, la fenêtre modale est cachée */
  position: fixed;
  z-index: 999; /* Assure que la fenêtre modale est au-dessus de tout le reste */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fond assombri */
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
/* Ajoutez ces animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-container {
  /* Autres styles inchangés */

  /* Ajoutez l'animation de fondu */
  animation: fadeIn 0.3s ease;
}

.modal-content {
  /* Autres styles inchangés */

  /* Ajoutez l'animation de zoom */
  animation: zoomIn 0.3s ease;
}

/*POOP CACA PIPI ------------------------------------------------------*/
/* Media query pour les petits écrans */

/* DEBUT DU CARROUSEL */
/* Style des blocs */
.espace{
margin-top: 10%;
}
.block {
  margin-top:-2%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* Style du titre */
.block h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Style de la description */
.block .description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.hidden-content p {
font-size: 1.2rem;
color: #818386
}
/* Style du bouton "Read more" */
.block .read-more {
  background-color: #323A4D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style du contenu supplémentaire caché */
.block .hidden-content {
  display: none;
}

/* Style de l'image */
.block img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}



/* FIN DU CARROUSEL */

/* Cette partie a été créée parce que mes liens cliquables ne fonctionnaient pas à l'intérieur du carrousel. J'ai dû mettre des icônes séparées représentant chaque diapositive. */


.button-link {
 position: absolute;
bottom: 2%;
right: 20%;
cursor: allowed;
}

.button-icon {
  width: 30px;
  height: 30px;
}

.flex-container2 {
  display: flex;
  justify-content: center; 
  margin-top: 5%; /* Espacement par rapport au carrousel */
}

.button-link2 {
  display: inline-block;
  margin-left: 10%; 
}

.button-icon2 {
  width: 50px; 
  height: 50px; 
}
/* Taille des icones */

/*PARTIE FORMULAIRE MAIL*/
/* Le formulaire n'a pas d'utilité puisque JavaScript n'est pas utilisé. Néanmoins, le bouton "Envoyer" peut être utilisé pour ouvrir la boîte de messagerie de l'utilisateur et écrire un e-mail au destinataire déjà préinscrit. */




#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
padding-bottom:2%;
}

#header a {
  margin-right: 20px; }

#header p {
  font-size: 16px;
  color: #333;
}

#contact {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact form p {
  margin-bottom: 10px;
}

#buttons {
  position: fixed; 
  top: 50%; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
left:92%;
z-index:2;
}
/* Positionnement des boutons  */


.buttonv {
  margin-bottom: 10px; 
}

/* Espacement entre les boutons  */

:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #FCFDFD;
  --button-color: #3B3636;
  --h1-color: #3F444C;
}

[data-theme="dark"] {
  --primary-color: #FCFDFD;
  --secondary-color: #818386;
  --bg-color: #010712;
  --button-color: #818386;
  --h1-color: #FCFDFD;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("https://videos.pexels.com/video-files/4779866/4779866-hd_1920_1080_30fps.mp4");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10rem;
  padding: 1.5rem;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

#h12, label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

#h12 {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

#p12 {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label, .description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

#p12, placeholder, input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

/* Toggle Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.description {
    margin-left: 1.25rem;
  }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 26px;
  height: 26px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }
}

  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  h12 {
    font-size: 1.75rem;
  }
  p12 {
    font-size: 0.7rem;
  }
  input, textarea, button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }
  .theme-switch-wrapper {
    width: 120px;
  }
  .theme-switch {
  height: 28px;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 20px;
  height: 20px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}
  input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

}



